# Copy this file to terraform.tfvars and fill in your values
aws_region = "us-east-1"
project_name = "report-papers"
email_recipient = "hugo@example.com"
translate_target_language = "en"
research_topics = ["algorithmic game theory", "discrete convex analysis"]
arxiv_categories = [
  "econ.EM",
  "econ.GN", 
  "cs.CE",
  "cs.LG",
  "cs.GT",
  "math.OC",
  "math.CO",
  "stat.AP",
  "eess.SY"
]
llm_model = "anthropic.claude-3-sonnet-20240229-v1:0"
